<!DOCTYPE html>
<html>
<title>PyBOX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
body{background-color: #E1E1E1;}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.foto{height: 325px;width: 325px;}
.labelForm{font-size: 30px}
.caixa{background-color:#ECECEC; height:25px;}
.botao_submit{border-radius: 4px;}
.tabela{border: 2px solid black;border-collapse: collapse;padding: 6px;}
.coluna{border: 2px solid black;border-collapse: collapse;padding: 6px;}
.colunaH{border: 2px solid black;border-collapse: collapse;padding: 6px;}
.texto-conta{font-size: 30px;}
.titulo{font-size: 50px;}
.fotodownload{height: 325px;width: 325px;margin-top: 100px;}
.linksem{text-decoration: none;}
</style>
<body>
  {% if session.logged_in %}
  <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">PyBOX</a>
      <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
      <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre nós</a>
      <a href="/menu" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Menu</a>
      <a href="/upload" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Upload</a>
      <a style="float:right;"href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log Out</a>
      <a style="float:right;"href="/minha-conta" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Minha Conta</a>
      <a style="float:right;"href="/posts-privados" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Posts Privados</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
      <a href="/about" class="w3-bar-item w3-button w3-padding-large">Sobre Nòs</a>
      <a href="/minha-conta" class="w3-bar-item w3-button w3-padding-large">Minha conta</a>
      <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Log Out</a>
    </div>
  </div>
  {% else %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">PyBOX</a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre nós</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log in</a>
    <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="/about" class="w3-bar-item w3-button w3-padding-large">Sobre Nós</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large">Log In</a>
    <a href="/register" class="w3-bar-item w3-button w3-padding-large">Register</a>
  </div>
</div>
{% endif %}
<!--Header -->
<header class="w3-container w3-red w3-center" style="padding:50px 16px">
  <h1 class="w3-margin w3-jumbo">Bem-vindo  <a style="font-weight:300;"> {{usuario[1]}}</a></h1>
  <!--<p class="w3-xlarge"></p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a class="linksem" href="/register">Cadastre-se!</a></button>-->
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="titulo">Dados do usuário:</h1>
      <h5 class="w3-padding-32"><p class="texto-conta">Nome: <a class="texto-conta-leve"> {{usuario[1]}}</a> <a href="/changename" class="linkalt">Alterar</a><br></p>
          <p class="texto-conta">Username: <a class="texto-conta-leve">  {{usuario[2]}}</a>   <a href="/change-username" class="linkalt">Alterar</a><br></p>
          <p class="texto-conta">Email: <a class="texto-conta-leve">  {{usuario[3]}}</a>  <a href="/change-email" class="linkalt">Alterar</a><br></p>
          <p class="texto-conta">Senha: <a class="texto-conta-leve">  *****</a>  <a href="/changepassword" class="linkalt">Alterar</a><br></p></h5>

      <p class="w3-text-grey"></p>
    </div>

    <div class="w3-third w3-center">
      <img class="foto" src="static/images/avatarimage.png">
    </div>
  </div>
</div>
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img class="fotodownload" src="static/images/imagedownload.png">
    </div>

    <div class="w3-twothird">
      <h1 class="titulo">Meus posts:</h1>
      <h5 class="w3-padding-32"><table class="tabela">
          <tr>
            <th class="colunaH">Título:</th>
            <th class="colunaH">Autor:</th>
            <th class="colunaH">Local: </th>
            <th class="colunaH">Tipo:</th>
            <th class="colunaH">Ação:</th>
            <th class="colunaH">Delete</th>
          </tr>
          {% for arquivo in arquivo %}
          <tr>
            <td class="coluna"><a class="link"href="/preview/{{arquivo[0]}}">{{arquivo[1]}}</a></td>
            <td class="coluna"><a class="linksem"href="/preview/{{arquivo[0]}}">{{arquivo[2]}}</a></td>
            <td class="colunaH"><a class="linksem"href="/preview/{{arquivo[0]}}">{{arquivo[4]}}</a></td>
            <td class="coluna"><a class="linksem"href="/preview/{{arquivo[0]}}">{{arquivo[5]}}</a></td>
            {% if arquivo[7] == true %}
            <td class="coluna"><a class="link"href="/tornar-privado/{{arquivo[0]}}">Ocultar</a></td>
            {% else %}
            <td class="coluna"><a class="link"href="/tornar-publico/{{arquivo[0]}}">Publicar</a></td>
            {% endif %}
            <td class="coluna"><a class="link"href="/delete/{{arquivo[0]}}">Deletar</a></td>
          </tr>
          {% endfor %}
        </table></h5>

    <!--  <p class="w3-text-grey">Esta plataforma aceita arquivos dos tipos: pdf,docx,pptx,execel,png,jpg. Futuramente sera disponivel o upload de qualquer tipo de arquivo!, Boms estudos!-->
        </p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
    <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
 </div>
 <p>Powered by Python Flask</p>
</footer>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
